footer.Footer
    .container
        .Footer__top
            p.top__name.base__color ARShakir
            nav.top__social
                .top__social-item
                    a(href='#')
                        img(src='./img/google.svg' alt='google')
                .top__social-item
                    a(href='#')
                        img(src='./img/twitter.svg' alt='twitter')
                .top__social-item
                    a(href='#')
                        img(src='./img/facebook.svg' alt='facebook')
        .Footer__content
            .Footer__content-item
                p.content__title First
                ul.content__nav
                    li.content__nav-item First Page
                    li.content__nav-item Second Page
                    li.content__nav-item Third Page
                    li.content__nav-item Fourth Page
            .Footer__content-item
                p.content__title First
                ul.content__nav
                    li.content__nav-item First Page
                    li.content__nav-item Second Page
                    li.content__nav-item Third Page
                    li.content__nav-item Fourth Page
            .Footer__content-item
                p.content__title First
                ul.content__nav
                    li.content__nav-item First Page
                    li.content__nav-item Second Page
                    li.content__nav-item Third Page
                    li.content__nav-item Fourth Page
            .Footer__content-item
                p.content__title First
                ul.content__nav
                    li.content__nav-item First Page
                    li.content__nav-item Second Page
                    li.content__nav-item Third Page
                    li.content__nav-item Fourth Page
    .copy
        p.copyright © Copyrights 2021
        p.copyright Privacy policy
        p.copyright Terms of service