header.Header
    .container
        a.Header__logo(href='')
            img(src='img/logo.svg' alt='Logo')
        .Header__menu
            nav.Header__menu-list
                a(href='#') About
                a(href='#') Gallery
                a(href='#') Pricing
                a(href='#') Faq
                a(href='#') Benefits
            .Header__menu-user
                a(href='#').btn Sign in
                a(href='#').btn Sign up
