$max-width:1140px;
$gutter:20px;
$border-radius:0px 5px 5px 0px;
$finger-size:44px;
//
$color-base:#F2994A;
$color-white:#FFFFFF;
$color-background:#8476AA;
$color-background-two:#99EFD0;
$color-body:#0f1145;
$color-text:#b5b5b5;
//
$font-family:'Inter',sans-serif;
$font-size-small:12px;
$font-size-medium:18px;
$font-size-normal:16px;

