extends global/master

block content
    include component/Showcase
    include component/Referance
    include component/Features
    include component/Increase
    include component/Metrics
    include component/Framework
    include component/Business
    include component/Finding