body{
  font-family: $font-family;
  line-height: 1.4;
  background-color: $color-body;
}
.container{
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}
.btn{
  padding-left: 27px;
  padding-right: 27px;
  align-items: center;
  text-decoration: none;
  color: $color-base;
  text-transform: uppercase;
  border: 1px solid $color-base;
  font-size: $font-size-small;
  border-radius: 3px;
  transition: .5s all;
  font-weight: 500;
  letter-spacing: 2px;
  &:hover{
    background-color: $color-base;
    color: $color-white;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  }
}