section.Business
    .container
        .Business__content
            p.Business__title Invest property for <br> better  <span class="base__color">business</span>
            p.Business__text We are committed to processing the information in order to <br>  contact you and talk about your project. We are committed to <br> processing the information.
            a.btn Learn More
        .Business__image
            figure
                img(src='./img/residance.png' alt='Residance')