section.Features
    p.Features__title Your choice
    p.Features__text There are many reasons to get down and start to get depressed about your situation.

    .container
        .Features__item
            img(src='./img/stockholm.svg' alt='stockholm')
            .item__content
                p.item__title Ecstatic elegance
                p.item__text Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
        .Features__item
            img(src='./img/stockholm.svg' alt='stockholm')
            .item__content
                p.item__title Ecstatic elegance
                p.item__text Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
        .Features__item
            img(src='./img/stockholm.svg' alt='stockholm')
            .item__content
                p.item__title Ecstatic elegance
                p.item__text Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
        .Features__item
            img(src='./img/stockholm.svg' alt='stockholm')
            .item__content
                p.item__title Ecstatic elegance
                p.item__text Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
        .Features__item
            img(src='./img/stockholm.svg' alt='stockholm')
            .item__content
                p.item__title Ecstatic elegance
                p.item__text Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
        .Features__item
            img(src='./img/stockholm.svg' alt='stockholm')
            .item__content
                p.item__title Ecstatic elegance
                p.item__text Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.