section.Finding
    .container
        .Finding__image
            figure
              img(src='./img/finding.png' alt='Finding')
        .Finding__content
            p.Finding__title Help Finding Information Online
            p.Finding__text Fully customizable and neatly organized components <br> will help you work faster without limiting creative freedom.
            .content__item
                .item__left
                    img(src='./img/Swiss-knife.svg' alt='stockholm')
                    p.item__finding-title Feature One
                    p.item__finding-text Fully customizable and neatly  organized components will help you work faster
                .item__right
                    img(src='./img/lte.svg' alt='stockholm')
                    p.item__finding-title Feature One
                    p.item__finding-text Fully customizable and neatly organized components will help you work faster
