section.Form
   .container
       .Form__content
           p.Form__content-title There are many reasons to get down
           p.Form__content-text There are many reasons to get down and start to get depressed about your situation.
           .Form__content-form
               input(type='text' placeholder='Your Email')
               a(href='#') Send
           p.Form__content-span No spam. Only releases, updates and discounts