section.increase
    .container
        .increase__content
            p.increase__title Increase your <br> business <span class="base__color">Traffic</span>
            p.increase__text We are committed to processing the information in order to <br> contact you and talk about your project.
            a.btn Learn More
        .increase__image
            figure
                img(src='./img/increase.png' alt='increase')