section.Metrics
  p.title.Metrics__title 3 Simple Ways To <span class="base__color">Save</span> A Bunch <br> Of <span class="base__color">Money</span> When Buying A New Computer
  p.Metrics__text Fully customizable and neatly organized components <br> will help you work faster without limiting creative freedom.
  .container
      .Metrics__item
          p.Metrics__item-title 100+
          p.Metrics__item-text 5 Reasons To Purchase <br> Desktop Computers
      .Metrics__item
          p.Metrics__item-title 43,000+
          p.Metrics__item-text 3 Simple Ways To Save A Bunch Of Money When Buying A New Computer
      .Metrics__item
          p.Metrics__item-title 30+
          p.Metrics__item-text A Discount Toner Cartridge <br> Is Better Than Ever And You <br>  Will Save 50 Or More