section.Referance
    img.Referance__background(src='./img/Damla.svg' alt='damlacık')
    .container
        ul
            li
                img(src='./img/ProfitWel.svg')
            li
                img(src='./img/Bench.svg')
            li
                img(src='./img/Appcues.svg')
            li
                img(src='./img/demio.svg')
            li
                img(src='./img/Shipbob.svg')
            li
                img(src='./img/subbly.svg')