section.Showcase
    .container
        .Showcase__content
           h1.Showcase__content-title Many reasons to get up <br> and start to get back in <br> the business
           p.Showcase__content-text The harder you work for something, the greater you’ll  <br> feel when you achieve it.
           a.btn Learn More
           a.btn Demo
           .Showcase__content-video
               figure
                    img(src='./img/video.svg' alt='video')
               .video-group
                   p.video__text The harder you work for something, the greater <br> you’ll feel when you achieve it.
                   p.video__info Watch preview
        .Showcase__image
            figure
                img(src='./img/human.svg' alt="human")