.Footer{
  margin-top: 146px;
  background: url("./img/footer__background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  .container{
    display: flex;
    flex-direction: column;
  }
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .top__name{
      letter-spacing: 0.325px;
      font-weight: bold;
      font-size: 26px;
      cursor: pointer;
    }
    .top__social{
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-item{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:not(:last-child){
          margin-right: 16px;
        }

      }
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 94px;
    color: #fff;
    cursor: pointer;
    @include mq('tablet'){
      flex-direction: row;
      justify-content: space-between;
    }
    &-item{
      margin-top: 26px;
      .content__title{
        font-size: 15px;
        letter-spacing: 0.2px;
        margin-bottom: 25px;
      }
      .content__nav{
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        &-item{
          letter-spacing: 0.2px;
          font-size: 15px;
          &:not(:first-child){
            margin-top: 16px;
          }
        }
      }
    }
  }
  .copy{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8D8D8D;

    font-size: 14px;
    .copyright{
      cursor: pointer;
      &:not(:last-child){
        margin-right: 34px;

      }
    }
  }
}