.Header{
  height: 36px;
  margin-top: 79px;
  z-index: 99;
  position: relative;
  .container{
    height: 100%;
    display: flex;
    align-items: center;

  }
  &__logo{
    img{
      width: 36px;
    }
  }
  &__menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    @include mq('tablet'){
      flex: 1;
      justify-content: space-between;
      margin-left: 44px;
    }

    &-list{
      display: none;
      @include mq('tablet'){
        display: block;
        a{
          text-decoration: none;
          letter-spacing: 2px;
          font-size: $font-size-small;
          text-transform: uppercase;
          color:$color-text;
          &:not(:last-child){
            margin-right: 20px;
          }
        }
      }
    }
    &-user{
      a{
        display: inline-flex;
        height: 36px;
        &:not(:last-child){
          margin-right: 20px;
        }
      }
    }
  }
}