.Showcase{
  padding-top: 104px;
  z-index: 99;
  position: relative;
  .container{
    display: flex;
    justify-content: space-between; //resimle yazıyı iki uca gönderdik
    flex-direction: column;

    @include mq('large'){
      flex-direction: row;
    }
  }
  &__content{
     @include mq('large'){
       margin-top: 20px;
     }
    &-title{
      font-weight: bold;
      color: $color-background-two;
      font-size: 44px;
    }
    &-text{
      margin-top: 19px;
      color: $color-background;
      font-size: $font-size-medium;
      margin-bottom: 40px;
    }
    a{
      display: inline-block;
      padding-top: 13px;
      padding-bottom: 13px;
      &:not(:last-child){
        margin-right: 20px;
      }
    }
    &-video{
      display: flex;
      height: 80px;
      align-items: center;
      margin-top: 60px;
      cursor: pointer;
      p{
        margin-left: 20px;
      }
      .video__text{
        font-size: $font-size-normal;
        font-weight: 400;
        color: $color-background-two;
      }
      .video__info{
        font-weight: 400;
        font-size: 14px;
        color: #6D6D78;
        margin-top: 6px;
      }
    }
  }
  &__image{
    display: none;
    @include mq('large'){
      display: block;
      margin-right: -100px;
      overflow: hidden;
    }

  }
}
.Referance {
  position: relative;
  margin-top: 91px;
  z-index: 99;
  &__background {
    display: none;
    @include mq('large') {
      position: absolute;
      transform: rotate(120deg);
      top: -120px;
      left: 0;
      display: block;
    }
  }
  .container {
    text-align: center;
    ul {
      @include mq('tablet') {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 30px;
      }
      li {
        img {
          cursor: pointer;
          opacity: 0.3;
        }
        &:not(:first-child) {
          margin-top: 10px;
          @include mq('tablet') {
            margin-top: 0;
          }
        }
      }
    }
  }
}
.Features{
  margin-top: 98px;
  text-align: center;
  z-index: 99;
  position: relative;
  &__title{
    color: $color-background-two;
    font-weight: 700;
    font-size: 42px;
  }
  &__text{
    font-size: $font-size-normal;
    color: $color-background;
    margin-top: 13px;
  }
  .container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq('tablet'){
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .Features__item{
      width: 299px;
      height: 106px;
      display: flex;
      align-items: start;
      justify-content: start;
      margin-top: 20px;

      img{
        width: 24px;
        height: 24px;
        margin-right: 28px;
      }
      .item__content{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        text-align: left;

        .item__title{
          font-size: $font-size-medium;
          color: $color-background-two;
        }
        .item__text{
          margin-top: 10px;
          color: $color-background;
          font-size: 14px;
        }
      }
    }
  }
}
.Gradient{
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  height: 1609px;
  margin-top: -79px;
}
.increase{
  margin-top: 160px;
  position: relative;
  z-index: 99;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq('tablet'){
      flex-direction: row;
      justify-content: space-between;
    }
    .increase__content{
        display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      @include mq('tablet'){
        align-items: start;
        justify-content: start;
      }
      .increase__title{
        font-size: 42px;
        color: $color-background-two;
        font-weight: 700;
      }
      .increase__text{
        margin-top: 32px;
        margin-bottom: 43px;
        font-size: 15px;
        color: $color-background;
      }
      a{
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }
}
.Metrics{
  margin-top: 46px;
  &__title{
    padding-left: 20px;
    padding-right: 20px;
  }
  &__text{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 32px;
    letter-spacing: 0.2px;
    font-size: 15px;
    color: $color-background;
  }
  .container{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include mq('tablet'){
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .Metrics__item{
      width: 291px;
      height: 118px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
     &:not(:first-child){
       margin-top: 20px;
       @include mq('tablet'){
         margin-top: 0;
       }
     }
      &-title{
        color: $color-background-two;
        font-size: 36px;
        letter-spacing: .33px;
        font-weight: bold;
      }
      &-text{
        color: $color-background;
        font-size: 15px;
        letter-spacing: .2px;
        margin-top: 16px;
      }
    }
  }
}
.Framework{
  margin-top: 169px;

  &__title{
    margin-bottom: 46px;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./img/startup_backgrpund.svg");
    padding-bottom: 353px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  &__btn{
    padding-bottom: 17px;
    padding-top: 17px;
  }
}
.Business{
  margin-top: 169px;
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include mq('tablet'){
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include mq('tablet'){
      align-items: start;
    }

  }
  &__title{
    font-size: 42px;
    font-weight: 700;
    color: $color-background-two;
    margin-bottom: 32px;
  }
  &__text{
    font-size: 15px;
    letter-spacing: .5px;
    color: $color-background;
    margin-bottom: 46px;
    text-align: center;
    @include mq('tablet'){
     text-align: left;
    }
  }
  a{
    padding-top: 17px;
    padding-bottom: 17px;
  }
  &__image{
    margin-top: 46px;
    display: flex;
    flex: 1;
    background: url('./img/world.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    @include mq('tablet'){
      margin-top: 0;
    }
    figure{
      @include mq('tablet'){
        margin-top: -50px;
      }
    }
  }
}
.Finding{
  margin-top: 146px;
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include mq('tablet'){
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 46px;
    @include mq('tablet'){
      margin-top: 0;
      margin-left: 84px;
      justify-content: start;
      align-items: start;

    }
  }
  &__title{
    font-size: 26px;
    color: $color-background-two;
    font-weight: 700;
    letter-spacing: 0.325px;
    margin-bottom: 32px;

  }
  &__text{
    font-size: 15px;
    letter-spacing: 0.2px;
    color: $color-background;
    text-align: center;
    margin-bottom: 48px;
    @include mq('tablet'){
      text-align: left;
    }
  }
  .content__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq('tablet'){
      flex-direction: row;
      justify-content: space-between;
    }
    .item__left{
      margin-bottom:26px;
      @include mq('tablet'){
        margin-bottom: 0;
      }
    }
    .item__finding-title{
      font-size: 15px;
      font-weight: 700;
      color: $color-background-two;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    .item__finding-text{
      letter-spacing: .2px;
      color: $color-background;
      font-size: 15px;
    }
  }
}
.Form{
  margin-top: 146px;
  background: url("./img/form_background.svg");
  padding-bottom: 56px;
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    .Form__content{
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding-top: 50px;
      backdrop-filter: blur(134px);
      background: rgba(60, 62, 125, 0.19);
      border-radius: 5px;
      padding-bottom: 50px;
      @include mq('tablet'){
        padding-left: 20px;
        padding-right: 20px;
      }
      @include mq('desktop'){
        padding-left: 150px;
        padding-right: 150px;
      }
      &-title{
        font-size: 36px;
        color:$color-base;
        font-weight: 500;
        margin-bottom: 20px;
      }
      &-text{
        font-size: $font-size-normal;
        font-weight: normal;
        color: #95A1BB;
        margin-bottom: 23px;
      }
      &-form{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        input{
          width: 288px;
          height: 56px;
          background: #F6F6F6;
          opacity: 0.1;
          border-radius: 5px;
          &::placeholder{
            font-size: 14px;
            letter-spacing: .2px;
            color: #fff;
          }
        }
        a{
          width: 128px;
          color: #fff;
          height: 56px;
          background: $color-base;
          display: inline-flex;
          text-decoration: none;
          text-transform: uppercase;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
        }
      }
      &-span{
        letter-spacing: 0.2px;
        color: $color-background;
        font-size: 14px;
      }
    }
  }
}